.backgroundrestau{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0%;
    z-index: 1;
}

.restmenu{
    z-index: 2;
    width: 100%;
    background-color: $backgroundgrey;
    margin: 0%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-bottom: 50px;

    h2{
        font-family: 'Shrikhand', 'Times New Roman', Times, serif;
        font-size: 19px;
        font-weight: normal;
    }

    &__title{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand', 'Times New Roman', Times, serif;
        font-size: 22px;
        font-weight: normal;
        background-color: $backgroundgrey;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        h2{
            margin-left: 30px;
        }

        i{
            margin-right: 30px;
        }

        .far{
            position: relative;
            padding: 0px;
            font-size: 24px;
            font-weight: lighter;
            .fas{
                position: absolute;
                font-size: 25px;
                margin: 0px;
                top: -3px;
                left: 0;
                opacity: 0;
                background: linear-gradient(to bottom right, $secondarycolor, $primarycolor);
                background-clip: text;
                color: transparent;
                &:hover{
                    animation:fadeheart 1s both;

                    @keyframes fadeheart {
                        0% {
                            opacity: 0;
                        }
                    }

                    @keyframes fadeheart {
                        100% {
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }

    &__flexbox {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 992px){
            flex-direction: row;
        }
    }

    &__part{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        animation: menufadein 0.75s both;

        @keyframes menufadein {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
    
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        &__title{

            width: 85%;

            h3{ 
                font-weight: 400;
                text-align: left;
                margin-top: 10px;
                margin-bottom: 0px;
            }

            hr{
                margin-top: 0px;
                margin-left: 0px;
                color: $tertiarycolor;
                width: 35px;
            }
        }

        &__card{
            width: 85%;
            border-radius: 18px;
            background-color: white;
            color: black;
            text-decoration: none;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            box-shadow: 6px 6px 15px rgba(0,0,0,.2);
            margin-top: 10px;
            margin-bottom: 10px;

            &:hover{
                .fas{
                    animation: checkroll 1s;
                }

                @keyframes checkroll {
                    0% {
                        transform: rotate(0deg)
                    }
                }

                @keyframes checkroll {
                    100% {
                        transform: rotate(360deg)
                    }
                }
            }

            div:first-child{
                padding: 10px;
                width: 100%;
                transition-timing-function: linear;
                transition: flex 1s;
                flex: 1 0 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover {
                    flex: unset;
                }
            }

            h4{
                margin: 2px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__desc{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 2px;
                padding: 0px;
                flex: 100%;

                p{
                    margin: 0px;
                    padding: 0px;
                    font-weight: 250;
                    text-overflow: ellipsis;
                    direction: ltr;
                    white-space: nowrap;
                    overflow: hidden;
                    flex: 1 0 77%;
                }

                .price{
                    font-weight: 600;
                    flex: 2 0 10%;
                    text-align: right;
                    text-overflow: unset;
                    margin-right: 18px;
                    padding-right: 0px;
                }
            }

            &__checkanim{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $tertiarycolor;
                color: white;
                text-align: center;
                flex: 2 2 66px;
            }

        }
        
    }

    & .restmenu__part:nth-child(2) {
        animation-delay: 0.7s;
    }

    & .restmenu__part:nth-child(3) {
        animation-delay: 1.4s;
    }

    & .restmenu__part:nth-child(4) {
        animation-delay: 2.1s;
    }


    .pinkbutton{
        margin-top: 30px;
    }
}